### Node ###
# Logs
logs
*.log
npm-debug.log*
package-lock.json
node_modules/
.sass-cache/
.env

### mac ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Other ###
.test/
.solution
*.ai
.gitignore
instance/
.webassets-cache
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


### Python ###
