[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
marshmallow = "*"
flask = "*"
psycopg2-binary = "*"
flask-cors = "*"
pymongo = "*"
dnspython = "*"
python-dotenv = "*"
python-language-server = "*"

[requires]
python_version = "3.8"
PIPENV_IGNORE_VIRTUALENVS = 1
